body {
    position: relative;
    font-family: Arial, sans-serif;
    color: #000; 
    margin: 0; 
    height: 100vh; 
}

body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/e/ea/Van_Gogh_-_Starry_Night_-_Google_Art_Project.jpg/800px-Van_Gogh_-_Starry_Night_-_Google_Art_Project.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.15; /* Set the opacity of the background image */
    z-index: -1; /* Ensure the background image stays behind the content */
}

.container {
    margin: auto;
    padding: 20px;
    
}

.weather-content{
    align-items: center;
    align-self: center;
    align-content: center;
    text-align: center;
    margin: auto;
    padding: 1;
    
}

h1 {
    text-align: center;
    margin: 30px;
    color: #000;
}

h2 {
    margin-top: 10px;
    margin-bottom: 10px;
    color: #000;
}

input{
    border: 2px solid #adabab;
    border-radius: 4px;
    padding: 4px 8px;
}
footer{
    background-color: rgba(0, 0, 0, 0.7);
    padding: 5px;
    text-align: center;
    color: #FFF;  
}
.button {
    background-color: white; 
    padding: 4px 8px;
    margin-left: 12px;
    color: black; 
    border: 2px solid #000;
    border-radius: 4px;
  }
  
.button:hover {
    background-color: #000;
    color: white;
}

@media screen and (max-width:768px){
    body{
        background-color: #000;
        color:#FFF;
        font-family: "Arial", "Helvetica", "sans-serif";
    }
    h1{
        color: #FFF;
    }
    h2{
        color: #FFF;
    }
}